:root {
  --color-netural-100: #ffffff;
  --color-netural-200: #f4f4f4;
  --color-netural-300: #9d9d9d;
  --color-netural-400: #141414;
  --color-netural-500: #000000;
  --color-primary-100: #f5e8db;
  --color-primary-200: #ddbfa6;
  --color-secondary-100: #89b5cc;
  --color-secondary-200: #2e6887;
}
